$def with (json_resources, cluster_list)
$ no_vms = len(json_resources['resources'][0]['vms'])
$ cpu_archs = json_resources['resources'][0]['cpu_archs']
$ cloud_type = json_resources['resources'][0]['cloud_type']
$ name = json_resources['resources'][0]['name']
$ network_pools = json_resources['resources'][0]['network_pools']
$ cpu_cores = json_resources['resources'][0]['cpu_cores']
$ memory = json_resources['resources'][0]['memory']
$ storageGB = json_resources['resources'][0]['storageGB']
$ vms = json_resources['resources'][0]['vms']
$ vms_headings = vms[0].keys()
<html>
<head>
<title>Cloud Monitor</title>
<script src="static/jquery-1.4.3.js"></script>
<script type="text/javascript">
\$(document).ready(function(){


\$('#vmlist').hide();
\$('#clusterlist').hide();
\$(".stripeMe tr").mouseover(function() {

\$(this).addClass("over");

});

\$(".stripeMe tr").mouseout(function() {

\$(this).removeClass("over");

});


\$(".stripeMe tr:even").addClass("alt");

});

</script>


<style type="text/css">
body
{
    font-family: helvetica, arial;
}

td {
        padding: 6px 11px;
        border: 1 px solid black;
        vertical-align: top;
}

td * {
        padding: 6px 11px;
}

tr.alt td {
        background: #ecf6fc;
}

tr.over td {
        background: #bcd4ec;
}

th {
        padding: 6px 11px;
        border: 1px solid black;

}

</style>
</head>
<body>
$ cluster_list_len = len(cluster_list)

$cluster_list.remove(cluster_list[cluster_list_len - 1])
$cluster_list.remove(cluster_list[cluster_list_len - 2])
<a onclick="\$('#clusterlist').toggle()" href="#"/><h3>Show/Hide Cluster List</h3></a>
<div id="clusterlist">
<table>    
$for item in cluster_list:
    $if item[0] == "Cluster:":
        <tr>
        $for j in item
            <td><b>$j</b></td>
        </tr>
    $elif item[0] == "ADDRESS":
        <tr>
           
        <td><b>$item[0]</td>
        <td><b>$item[1] $item[2]</td>
        <td><b>$item[3] $item[4]</td>
        <td><b>$item[5]</b></td>
        </b></tr>
    $else:
        <tr>
        <td>$item[0]</td>
        <td>$item[1]</td>
        <td>$item[2]</td>
        $ memory = item[3:]
        $ sum = 0
        $for i in xrange(len(memory))
            $ memory[i] = memory[i].strip('[], ')
            $ memory[i] = int(memory[i])
            $ sum = sum + memory[i]
        <td>$sum</td> 
        
        </tr>
</table>

</div>
Number of VMs: $no_vms <br>
$ id_list = []
$for item in json_resources['resources'][0]['vms']
    $id_list.append(item['id'])
$id_list.sort()


<a onclick="\$('#vmlist').toggle()" href="#"/><h3>Show/Hide Running VMs</a></h3>
<div id="vmlist">
<table class="stripeMe">
<tr>
<th>id</th>
$for item in json_resources['resources'][0]['vms'][0].keys():
    $if item != "id":
        <th>$item</th>
    
</tr>

<tr>
$for vm_id in id_list
    $for index in json_resources['resources'][0]['vms']:
        $if index['id'] == vm_id:
            <td>$vm_id</td>
            $for item in index.keys():
                $if item != "id":
                    <td>$index[item]</td>
            </tr>
        
</table>
</div>

