$def with (json_resources, cluster_list)
$ no_vms = len(json_resources['resources'][0]['vms'])
$ cpu_archs = json_resources['resources'][0]['cpu_archs']
$ cloud_type = json_resources['resources'][0]['cloud_type']
$ name = json_resources['resources'][0]['name']
$ network_pools = json_resources['resources'][0]['network_pools']
$ cpu_cores = json_resources['resources'][0]['cpu_cores']
$ memory = json_resources['resources'][0]['memory']
$ storageGB = json_resources['resources'][0]['storageGB']
$ vms = json_resources['resources'][0]['vms']
$ vms_headings = vms[0].keys()
<html>
<head>
<title>Cloud Monitor</title>
<style type="text/css">
body
{
    font-family: helvetica, arial;
}

tables
{
    width: 500px;
}
th,td
{
border:1px solid black;

}

</style>
</head>
<body>
$ cluster_list_len = len(cluster_list)

$cluster_list.remove(cluster_list[cluster_list_len - 1])
$cluster_list.remove(cluster_list[cluster_list_len - 2])


<table>    
$for item in cluster_list:
    $if item[0] == "Cluster:":
        <tr>
        $for j in item
            <td><b>$j</b></td>
        </tr>
    $elif item[0] == "ADDRESS":
        <tr>
           
        <td><b>$item[0]</td>
        <td><b>$item[1] $item[2]</td>
        <td><b>$item[3] $item[4]</td>
        <td><b>$item[5]</b></td>
        </b></tr>
    $else:
        <tr>
        $for k in item:
            <td>$k</td>
        </tr>
</table>
Number of VMs: $no_vms <br>
$ id_list = []
$for item in json_resources['resources'][0]['vms']
    $id_list.append(item['id'])
$id_list.sort()
<table>
<tr>
<td>id</td>
$for item in json_resources['resources'][0]['vms'][0].keys():
    $if item != "id":
        <td>$item</td>
    
</tr>
<tr>
$for vm_id in id_list
    $for index in json_resources['resources'][0]['vms']:
        $if index['id'] == vm_id:
            <td>$vm_id</td>
            $for item in index.keys():
                $if item != "id":
                    <td>$index[item]</td>
            </tr>
        
    
</table>


